:root {
  --main-color: #2196f3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tahoma", "sans-serif";
}
.game {
  background-color: #eee;
  min-height: 100vh;
}
.container {
  margin: auto;
  max-width: 900px;
}
.name {
  background-color: var(--main-color);
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  box-shadow: 1px 1px 3px #00bcd4;
}
.message {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
  box-shadow: 2px 2px 10px #ccc;
}
.message span {
  font-weight: bold;
  color: #009688;
}
.message span::before {
  content: "[ ";
}
.message span::after {
  content: " ]";
}
.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #009688;
  color: white;
  padding: 20px;
  cursor: pointer;
}
.the-word {
  font-size: 60px;
  color: var(--main-color);
  text-align: center;
  user-select: none;
  font-weight: bold;
}
.input {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  border: 3px solid var(--main-color);
  caret-color: var(--main-color);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  box-shadow: 2px 2px 10px #ccc;
}
.input:focus {
  outline: none;
}
.upcoming-words {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px #ccc;
}
.upcoming-words div {
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 4px;
  border-radius: 6px;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px;
  padding: 10px;
  box-shadow: 2px 2px 10px #ccc;

  .restartBtn {
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
    display: none;

    &:hover {
      background-color: #ff4400ca;
    }
  }
}
.controls span {
  font-weight: bold;
  color: #009688;
}
.finish {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding: 15px;
  height: 200px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 0 0 6px 6px;
  align-content: center;
  letter-spacing: 2px;
  box-shadow: 2px 2px 10px #ccc;
}
.finish .good {
  color: var(--main-color);
}
.finish .bad {
  color: red;
}
